body {
    padding: 3em;
    background-color: #fdf8d8;
    font-family: Verdana, sans-serif;
}

h1 {
    text-align: center;
    color: #3B4CCA;
}

div > h2 {
    display: inline;
    font-size: 1em;
}

.process-icon > img {
    width: 15%;
}

.card {
    width: 70%;
    background-color: rgb(213, 213, 213);
}